* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: system-ui, sans-serif;
    background: #f6f8f9;
  }
  html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  