.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #121212;
    color: white;
  }
  
  .nav-logo {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1rem;
    color: #ddd;
  }
  
  .nav-links a:hover {
    color: white;
  }
  